<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Buisness DB</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Miami-Dade</a></li>
      <li><a href="badges.html">Broward</a></li>
      <li><a href="collapsible.html">All</a></li>
    </ul>
  </div>
</nav>
</head>
<body>

<%= yield %>

</body>
</html>
